@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;300;400;500;600;700;800&family=Titillium+Web:wght@300;400;600;700;800;900&display=swap');

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    position: relative;
    width: 100vw;
    overflow-x: hidden;
    background-color: #fffefe;
    color: #42246d;
    font-family: Montserrat;
}
main {
    font-family: 'Titillium Web', sans-serif;
}
header {
    font-family: 'Source Sans 3', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

@layer components {
    .max-container {
        max-width: 1440px;
        margin: 0 auto;
    }
    .word-spacing-1 {
        word-spacing: 2.5px;
    }
    .word-spacing-2 {
        word-spacing: 5px;
    }

    .input {
        @apply sm:flex-1 max-sm:w-full text-base leading-normal text-slate-gray pl-5 max-sm:p-5 outline-none sm:border-none border max-sm:border-slate-gray max-sm:rounded-full;
    }


    .Abs_background {
        position: absolute;
        z-index: 0;
        left: -10%;
        top: -17%;
        width: 120%;
        height: 100vh;
        background-color: #ede7e1;
    }
}

@layer utilities {
    .padding {
        @apply sm:px-16 px-8 sm:py-24 py-12;
    }

    .padding-x {
        @apply sm:px-5 px-3;
    }

    .padding-y {
        @apply sm:py-5 py-5;
    }

    .info-text {
        @apply font-montserrat text-slate-gray text-lg leading-7;
    }
}